<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ title }}</title>
<link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://dagrejs.github.io/project/graphlib-dot/v0.6.3/graphlib-dot.js"></script>
<script src="https://dagrejs.github.io/project/dagre-d3/latest/dagre-d3.js"></script>

<style>
    svg {border: 1px solid #999;overflow: hidden;}
    .node {white-space: nowrap;}
    .node rect,.node circle,.node ellipse {stroke: #333;fill: #fff;stroke-width: 1.5px;}
    .cluster rect {stroke: #333;fill: #000;fill-opacity: 0.1;stroke-width: 1.5px;}
    .edgePath path.path {stroke: #333;stroke-width: 1.5px;fill: none;}
    h1, h2 {color: #333;}
    textarea {width: 800px;}
    label {margin-top: 1em;display: block;}
    .error {color: red;}
</style>
</head>
<body onload="tryDraw();">

<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">Flow</li>
            <li><a href="{{ url_for('display') }}">Display</a></li>
            <li><a href="{{ url_for('prepos') }}">Preprocess</a></li>
            <li><a href="{{ url_for('filter') }}">Filter</a></li>
            <li><a href="{{ url_for('graph') }}">Graph</a></li>
        </ul>
    </div>
    {% if title != 'Upload' %}
    <div class="top-bar-right">
        <ul class="menu align-right">
            <li><a class="button alert" href="{{ url_for('delete') }}">Delete Data</a></li>
        </ul>
    </div>
    {% endif %}
</div>

<div class="row medium-8 large-7 columns" style="margin-top: 16px;">
    <div class="blog-post">
        <form>
            <textarea id="inputGraph" rows="50" style="display: block; display: none" onKeyUp="tryDraw();">
                digraph {
                    node [rx=5 ry=5 labelStyle="font: 300 14px 'Helvetica Neue', Helvetica"]
                    edge [labelStyle="font: 300 14px 'Helvetica Neue', Helvetica"]
                    {% for task in eLog %}
                        {# 
                            Count the amount of transaction happened between two task 
                        #}
                        {% set count = [0] %}
                        {% for task2 in eLog[task] %}
                            {% set ymin = 1 %}
                            {% set ymax = 5 %}
                            {% set c = ymin + (ymax - ymin) * (eLog[task][task2] - min) / (max - min) %}
                            {{ task }} -&gt; {{ task2 }} [label="{{eLog[task][task2]}}" style="stroke-width: {{ c }}"]
                            {% if count.append(count.pop() + eLog[task][task2]) %}{% endif %}
                        {% endfor %}
                        {# 
                            Counting constant for the color based on max and min value 
                        #}
                        {% set c = (max - count[0])/(max - min) * 255 %}
                        {{ task }} [labelType="html" label="<div style='text-align:center;{% if c < 130 %}color: rgb(255,255,255){% else %}color: rgb(0,0,0){% endif %}'>{{ task }}<br>({{ count[0]}})</div>" style="fill: rgb({{ c }},{{ c }},{{ c }})"]
                    {% endfor %}
                }
            </textarea>
        </form>

        <h3>Control Flow Visualization</h3>

        <svg width='100%' height='500px'>
            <g/>
        </svg>
    </div>
</div>

<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
    $(document).foundation();
</script>
<script>
    // Input related code goes here
    var inputGraph = document.querySelector("#inputGraph");

    // var graphLink = d3.select("#graphLink");

    var oldInputGraphValue;

    var graphRE = /[?&]graph=([^&]+)/;
    var graphMatch = window.location.search.match(graphRE);
    if (graphMatch) {
        inputGraph.value = decodeURIComponent(graphMatch[1]);
    }
    var debugAlignmentRE = /[?&]alignment=([^&]+)/;
    var debugAlignmentMatch = window.location.search.match(debugAlignmentRE);
    var debugAlignment;
    if (debugAlignmentMatch) debugAlignment = debugAlignmentMatch[1];

    // Set up zoom support
    var svg = d3.select("svg"),
    inner = d3.select("svg g"),
    zoom = d3.zoom().on("zoom", function() {
        inner.attr("transform", d3.event.transform);
    });
    svg.call(zoom);

    // Create and configure the renderer
    var render = dagreD3.render();

    var g;
    function tryDraw() {
        if (oldInputGraphValue !== inputGraph.value) {
            inputGraph.setAttribute("class", "");
            oldInputGraphValue = inputGraph.value;
            try {
                g = graphlibDot.read(inputGraph.value);
            } catch (e) {
                inputGraph.setAttribute("class", "error");
                throw e;
            }

            // Save link to new graph
            // graphLink.attr("href", graphToURL());

            // Set margins, if not present
            if (!g.graph().hasOwnProperty("marginx") && !g.graph().hasOwnProperty("marginy")) {
                g.graph().marginx = 20;
                g.graph().marginy = 20;
            }

            g.graph().transition = function(selection) {
                return selection.transition().duration(500);
            };

            g.graph().rankDir = 'LR';

            // Render the graph into svg g
            d3.select("svg g").call(render, g);
        }
    }
</script>
</body>
</html>
